/* Write your CSS here */
.home-page-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.ipl-logo-heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ipl-logo {
  height: 55px;
  width: 55px;
  margin-right: 10px;
}
.ipl-heading {
  font-family: 'Bree Serif';
  font-size: 38px;
  font-weight: 700;
  color: #ffffff;
}
.ipl-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}
