/* Write your CSS here */
.team-matches-container {
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px;
  align-items: center;
}
.team-banner {
  width: 76%;
}

@media (max-width: 767px) {
  .team-banner {
    width: 100%;
  }
}
.latest-match-container {
  width: 78.5%;
  margin-right: 45px;
  list-style-type: none;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 75%;
}
.latest-matches {
  font-family: 'Bree Serif';
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: start;
}
.match-card-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
}
.RCB {
  background-color: #e91d1d;
}

.KKR {
  background-color: #280ca7;
}
.MI {
  background-color: #7a8be9;
}
.SH {
  background-color: #e91d1db9;
}
.RR {
  background-color: #0907b3;
}
.KXP {
  background-color: #7c0817;
}
.DC {
  background-color: #81aee9;
}
.CSK {
  background-color: #d4c70c;
}

@media (max-width: 767px) {
  .team-matches-container {
    padding: 20px;
  }

  .latest-match-container {
    width: 110%;
  }
  .heading-container {
    width: 100%;
  }

  .match-card-container {
    width: 120%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    align-items: flex-start;
  }
}
